{% if pagina.paginator.num_pages > 1 %}
<nav aria-label="Paginação" class="mt-4">
  <ul class="pagination justify-content-center flex-wrap">
    {% if pagina.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ pagina.previous_page_number }}{% if termo_busca %}&q={{ termo_busca }}{% endif %}{% if termo %}&q={{ termo }}{% endif %}">Anterior</a>
      </li>
    {% endif %}
    <li class="page-item disabled">
      <span class="page-link">{{ pagina.number }} de {{ pagina.paginator.num_pages }}</span>
    </li>
    {% if pagina.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ pagina.next_page_number }}{% if termo_busca %}&q={{ termo_busca }}{% endif %}{% if termo %}&q={{ termo }}{% endif %}">Próxima</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
